<p><%= t(".intro") %></p>

<p>
  <%= link_to t(".reset_link"), edit_password_url(@user.password_reset_token) %>
</p>

<p><%= t(".expiry", duration: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %></p>
